<p>
  <strong>Title:</strong>
  <%= @submit.title %>
</p>

<strong>URL:</strong>
  <%= @submit.url %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @submit.text %>
</p>
<p>
  <strong>Usuari:</strong>
  <%= @submit.userpost %>
</p>
